<div class="input">
    <input class="input__field" id="{{ id }}" value="{{value}}" type="{{ type }}" required>
    <span class="input__bar"></span>
    <label class="input__label" for="{{ id }}">{{ placeholder }}</label>
</div>
